version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  users-service:
    build: ./users-service
    container_name: users-service
    ports:
      - "3000:3000"
    env_file:
      - ./users-service/.env
    depends_on:
      - mongo

  products-service:
    build: ./products-service
    container_name: products-service
    ports:
      - "3001:3001"
    env_file:
      - ./products-service/.env
    depends_on:
      - mongo

volumes:
  mongo-data:
