apiVersion: v1
kind: Service
metadata:
  name: products-service
  namespace: demo-devops
spec:
  selector:
    app: products-service
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
  type: ClusterIP
